<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.posterhub.com.sg/images/detailed/1/APAD009.jpg)">
  <%= @cocktail.name %>
</div>

<%= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail)  %>

<ul>
  <div class="cards-ingredient">
    <% @cocktail.doses.each do |dose| %>
    <li>
      <div class="card-product">
        <div class="card-product-infos">
          <h2><%= dose.description %> of <%= dose.ingredient.name %></h2>
          <%= link_to " Remove this ingredient",   dose_path(dose),
          method: :delete,
          data: { confirm: "Are you quite sure?" } %>
        </div>
      </div>
    </li>
    <% end %>
  </div>
</ul>



